# Python
backend/.venv/
__pycache__/
*.pyc

# Environment
.env
backend/.env
frontend/.env

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
frontend/.vscode/*
!frontend/.vscode/settings.json
.idea/

# OS
Thumbs.db
Desktop.ini
